body {
    background-color: burlywood;
    font-size: normal;
    text-align: left;
    color: lightslategray;
}
.titulo {
    color: black;
    text-align: center;
}

h4 {
    color: cadetblue;
}

img {
    /* float: right; */ /*no tiene el atributo center? */
    width: auto;
    height: auto;
}